@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  html {
    font-family: var(--font-roboto);
  }
 
  
  /* @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
   */

body{background: #090b0f url('/img/dot-grid.png'); color: white; text-align: center; font-size: 20px;  font-family: var(--font-roboto);}
body.text-bg-dark {  color: #d0d0d6 !important;
  background-color: #090b0f;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b1893d' fill-opacity='0.02'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} /**https://heropatterns.com */
main{padding: 2rem;}
span{display: none;}
a.facebook{
  max-width: 100px;
  background-color: white;
  padding: 5px 10px;
  display: block;
  border-radius: 1rem;
}
a.instagram{
  max-width: 100px;
  background-color: white;
  padding: 5px 10px;
  display: block;
  border-radius: 1rem;
}
 a svg{
  max-width: 100px;
}
h1{display: block;}
h2{font-size: 100px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.015em;}
h3{padding-bottom: 50px;  display: block; 
  background-image: linear-gradient(var(--angle), #A8FCFD , #C100B0) !important;
  --angle: 120deg;
    margin-top: 70px;
    background: #ffe1c0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(var(--angle), #FFE1C0, #F34199);

  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.003em;
}
.gradient-1{
  background: -webkit-linear-gradient(#eee, #fe9494);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typography-hero-features{
  background-image: linear-gradient(var(--angle), #FFE1C0, #F34199) !important;
  --angle: 120deg;
    margin-top: 70px;
    background: #ffe1c0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(var(--angle), #FFE1C0, #F34199);
    font-size: 36px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.003em;
}

:root {
  /* Base font size */
  
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.item-card{
  border: 0.4rem solid #fff;
  border-radius: 2rem;
}

.item-card .fill{ display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden}

.fill img {
    min-width: 100%;
    min-height: 100%;
}

footer{
  background: #090b0f;
  background:
  radial-gradient(circle, transparent 20%, black 20%,
    black 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, black 20%,
    black 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#090b0f 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #090b0f 8px, transparent 8px) -4px 0;
background-color: black;
background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

/* https://cssgradient.io/blog/gradient-patterns/ */


section.address-section{
  padding: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #A8FCFD 35%, #C100B0 100%);
  /* background: linear-gradient(var(--angle), #A8FCFD , #C100B0) !important; */
  justify-content: center;
  align-items: center;  
  background: #000;
  width: 100%;
  min-width: 100%;;
}

address {  font-size: 5rem;
  font-weight: 200;   font-style: italic;  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 100.5s infinite alternate;
  width: 100%;
  min-width: 100%;;
}
  
address::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

address::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

address:focus {
  outline: none;
}

.phone-number{
  width: 100%;
  min-width: 100%;
  display: block;;
}
/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

@media (max-width: 575.98px) {
  h2{font-size: 50px}
  a.m-5{margin: 1rem !important}
  .typography-hero-features {font-size: 24px;}
  div.px-5{padding-right: 1rem !important;
    padding-left: 1rem !important;}
  .item-card div.p-5{ padding: 1rem !important }
  h3{ font-size: 36px}
  section.address-section{padding: 20px}
  address{ font-size: 1.2rem;  padding: 1rem 1rem;}
}


@media (max-width: 767.98px){
  h2{font-size: 50px}
  .typography-hero-features {font-size: 24px;}
  address{ font-size: 2.2rem;  padding: 1rem 1rem;}
}