
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  html {
    font-family: var(--font-roboto);
  }
 
  
  /* @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
   */

body{background: #090b0f; color: white; text-align: center; font-size: 20px;  font-family: var(--font-roboto);}
body.text-bg-dark {  background: black !important; color: #d0d0d6 !important}
main{padding: 2rem;}
span{display: none;}

address {padding-bottom: 50px; font-size: 40px;}
h2{font-size: 100px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -0.015em;}
h3{padding-bottom: 50px;  display: block; 
  background-image: linear-gradient(var(--angle), #A8FCFD , #C100B0) !important;
  --angle: 120deg;
    margin-top: 70px;
    background: #ffe1c0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(var(--angle), #FFE1C0, #F34199);

  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.003em;
}
.gradient-1{
  background: -webkit-linear-gradient(#eee, #fe9494);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typography-hero-features{
  background-image: linear-gradient(var(--angle), #FFE1C0, #F34199) !important;
  --angle: 120deg;
    margin-top: 70px;
    background: #ffe1c0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(var(--angle), #FFE1C0, #F34199);
    font-size: 36px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.003em;
}
footer{
  padding: 50px;
  background: #090b0f;
  background:
  radial-gradient(circle, transparent 20%, black 20%,
    black 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, black 20%,
    black 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#090b0f 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #090b0f 8px, transparent 8px) -4px 0;
background-color: black;
background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}